<header class="header">
  <div class="header__container container">
    <div class="menu">
      <a class="menu__logo" href="#">Fit mirror</a>
      <ul class="menu__list">
        <li class="menu__item"><a class="menu__link" href="#">ABOUT</a></li>
        <li class="menu__item"><a class="menu__link" href="#">LITEPAPER</a></li>
        <li class="menu__item"><a class="menu__link" href="#">TOKEN</a></li>
        <li class="menu__item"><a class="menu__link" href="#">PRODUCTS</a></li>
      </ul>
      <div class="menu__buttons">
        <a href="#" class="btn">download now</a>
      </div>
      <div class="menu__burger"><span></span></div>
    </div>
  </div>
</header>
